/Projetos/Atividade1/Atividade1_Cenaflix/nbproject/private/
/Projetos/Atividade1/Atividade1_Cenaflix/build/
/Projetos/Atividade1/AplicacaoPratice_Ex3/nbproject/private/
/AplicacaoPratice_Ex3/nbproject/private/
/AplicacaoPratice_Ex3/build/
/Exemplos/AplicacaoPratica_Ex3/nbproject/private/
/Exemplos/AplicacaoPratica_Ex3/build/
/Projetos/Atividade1/TesteDebug_Ex4/nbproject/private/
