/Projetos/Atividade1/Atividade1_Cenaflix/nbproject/private/
/Projetos/Atividade1/Atividade1_Cenaflix/build/
/Projetos/Atividade1/AplicacaoPratice_Ex3/nbproject/private/
/AplicacaoPratice_Ex3/nbproject/private/
/AplicacaoPratice_Ex3/build/
/Exemplos/AplicacaoPratica_Ex3/nbproject/private/
/Exemplos/AplicacaoPratica_Ex3/build/
/Projetos/Atividade1/TesteDebug_Ex4/nbproject/private/
/Projetos/Atividade1/TesteDebug_Ex4/build/
/Exemplos/TesteDebug_Ex4/dist/
/Projetos/Atividade2/Atividade1_Cenaflix/build/
/Projetos/Atividade2/Atividade1_Cenaflix/nbproject/private/
/Projetos/Atividade2/Atividade2_Cenaflix/build/
/Projetos/Atividade2/Atividade2_Cenaflix/nbproject/private/
/Projetos/Atividade1/Atividade2_Cenaflix/nbproject/private/
/Projetos/Atividade1/Atividade2_Cenaflix/build/
/Projetos/Atividade1/Atividade2_Cenaflix/dist/
/Projetos/Atividade2/Atividade2_Cenaflix/dist/
/Exemplos/FinancasJPA_Ex5/target/
/Exemplos/Login_Ex6/nbproject/private/
